.contact {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 9rem;
  margin-bottom: 2rem;
}
.contact-title {
  margin-top: 2rem;
  color: var(--color-darkest-black);
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.8rem;
  margin-bottom: 1.2rem;
}
.contact-inputs {
  width: 60rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact input {
  width: 100%;
  padding: 1.5rem;
  border: 2px solid #bfcbdf;
  border-radius: 5px;
}
.contact input::placeholder {
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 400;
}
.contact-inputs button {
  background: var(--color-dark-blue);
  color: #fff;
  border: none;
}
textarea {
  padding: 1.5rem;
}

.file-pin {
  position: relative;
  width: 20.1rem;
}

.file-pin > img {
  position: absolute;
  top: 18%;
  right: 3%;
}
#kod {
  width: 20.1rem;
}
.contact-inputs button {
  width: 20.1rem;
  padding: 1.5rem 6rem;
  border-radius: 5px;
  color: var(--color-white);
}
.contact-card {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid rgb(188, 195, 205);
  border-radius: 5px;
  background: rgb(255, 255, 255);
  box-shadow: -10px 11px 2px 3px #39393940;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.contact-card h3 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.3rem;
  color: var(--color-dark-blue);
  margin-bottom: 2rem;
  text-align: right;
}
.contact-cards {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: var(--color-medium-gray);
}

.contact-cards .content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: end;
}

.contact-cards .icons {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  gap: 2rem;
}
.contact-cards .icons > div {
  display: flex;
  gap: 1.3rem;
}
.contact-cards .icons > a > button {
  display: flex;
  font-size: 1.8rem;
  flex-direction: row;
  align-items: center;
  padding: 0.6rem 1rem;
  color: var(--color-white);
  background: var(--color-dark-blue);
  border-radius: 5px;
  gap: 0.6rem;
}
